body {
    background-color: #232528;
}

#survey-form {
    background-color: #ffa400;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;
    min-width: 325px;
}

li {
    list-style-type: none;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    align-self: center;
}

#title,
#description {
    color: #ef6e3e;
    font-family: "trade winds";
}

#description {
    padding: 10px;
    text-align: center;
}

#name-label,
#email-label {
    margin-right: 5px;
}

#number-label{
    margin-right: 15px;
}

#survey-form ul li {
    padding: 10px;
}

label,
legend,
button {
    font-family: "anton";
}

.list-flex-col {
    display: flex;
    flex-direction: column;
}

.list-flex-row {
    display: flex;
    justify-content: center;
}

#submit {
    max-width: 45%;
}
